/* header start*/

*{
    box-sizing: border-box;
    font-family: sans-serif;
}
.header{
    background-color: #131f2c;
    color: white;
    width: 100%;
    height: 100px;
    margin: auto;
    /* display: flex;
    justify-content: space-between; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.header > div {
height: 100px;
width: 800px;
padding-left: 50px;
}
.header > div:first-child {
font-weight: bold;
padding: 37px;
font-size: 24px;
margin-right: 20px;

}
.header > div:last-child {
padding: 37px;
font-size: 20px;
display: flex;
justify-content: space-evenly;
margin-right: 20px;
}
select {
background-color: #1c2938;
color: white;
font-size: 24px;
border: 0px;
}
a{
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}


/* header end */
#container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 50px;
    margin-left: 80px;
    }
    #price{
        font-weight: 600;
        /* margin-left: -30px; */
        margin-left: 10px;
    
    }
    #name{
        color: grey;
        /* margin-left: 20px; */
    }
    .secdiv{
        display: flex;
        /* justify-content: space-evenly; */
        margin-top: -30px;
        /* margin-right: 100px; */
    }
    #strikeprice{
        
        /* padding: 15px; */
        color: grey;
        margin-top: 16px;
        margin-left: 10px;
    }
    img{
        height: 350px;
    }
    .addCart{
        background-color: #4bb543;
        border: 0px;
        height: 30px;
        color: #fff;
        margin-left: 2px;
        cursor: pointer;
        
    }
  
   #_rs{
       margin-left: 20px;
   }
  